body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

nav {
    width: 100%;
    position: fixed;
    top: 0%;
    background-color: aqua;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-decoration: none;
    float: right;
}

.img-nav {
    float: left;
    width: 3%;
    border-radius: 100%;
    height: auto;
    margin: 1rem;
}

main, footer {
    text-align: center;
}

main {
    margin: 10rem 5rem;
}

span, em {
    color: rgb(13, 75, 117);
}

img {
    width: 70%;
    height: auto;
    margin-top: 2rem;
    border-radius: 10%;
}

header {
    text-align: start;
    margin: 2rem;
}

li {
    list-style: none;
    cursor: pointer;
    padding: 1rem;
}

.course-text {
    text-align: center;
    }
    
.course {
    margin: 1rem;
    padding: 1rem;
} 

.course:hover {
    transition: .5s;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
}

.course-container {
    display: inline-block;
    width: 300px;
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(71, 71, 71);
    transition: .5s;
}

button {
    border-radius: 2rem;
    padding: 1rem;
    border: 1px solid rgb(0, 235, 235);
    background-color: aqua;
    color: rgb(0, 0, 0);
}

/*teachers*/

section {
    width: 20%;
    height: auto;
    padding: .2rem;
    margin: 1rem;
    display: inline-block;
}

input {
    font-size: 1.5rem;
    padding: .5rem;
    height: 2.5rem;
    width: 30rem;
    border: none;
    background-color: rgb(214, 255, 255);
}

@media only screen and (max-width: 900px){
     section {
        width: 90%;
        height: auto;
    }
}

@media only screen and (max-width: 1000px){
    section {
       width: 40%;
       height: auto;
   }
}

section:hover {
    transition: .5s;
    border-radius: 1.5rem;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
}

.teacher-img {
    margin: 0;
    width: 100%;
}

